{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block cuerpo %}
    <h1>anuncios edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('anuncios') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
