{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block cuerpo %}
    <h1>comentarios creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comentarios') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
