<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset ('bundles/unimarca/css/noticias.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
       
        
        <div id="cabecera">
            {% block cabecera %}
                <h1>MARCA</h1>
            {% endblock %}
        </div>
       
         <div id="cuerpo">
            {% block cuerpo %}NOTICIAS{% endblock %}
        </div>
        
         <div id="pie">
            {% block pie %}By IVAN{% endblock %}
        </div>
    </body>
</html>
