{% extends 'uniMarcaBundle::layout.html.twig' %}


{% block cuerpo %}
    
 <br>Buscar autor:
<form action="{{path('noticias_responder_autor')}}" method="POST">
    <input type="text" name="autor" value="Autor a buscar">
    <input type="submit" value="OK">
</form>
      
    
{% endblock %}

